/target
/migrations
.go-tetris.log
.envrc
test.sqlite
example.db
*.sqlite3
/tmp/
scripts/migrations
result

# IDEs
## JetBrains IDEs (IntelliJ IDEA, CLion, RustRover, etc.)
.idea/
*.iws
*.iml
*.ipr

## Visual Studio Code
.vscode/
*.code-workspace

## Vim
*.swp
*.swo
*~

## Emacs
\#*\#
.\#*
