[package]
name = "geni"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.75"
async-trait = "0.1.74"
chrono = { version = "0.4.31", features = ["serde"] }
clap = { version = "4.4.11", features = ["env", "string", "derive", "cargo"] }
libsql-client = { version = "0.33.2", features = ["futures-util", "http"] }
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0.108"
tokio = { version = "1.35.0", features = ["full"] }

[dev-dependencies]
tempfile = "3.8.1"
