[package]
name = "geni"
version = "0.1.0"
edition = "2021"
resolver = "2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.75"
async-trait = "0.1.74"
chrono = { version = "0.4.31", features = ["serde"] }
clap = { version = "4.4.11", features = ["env", "string", "derive", "cargo"] }
futures = "0.3.29"
libsql-client = { git = "https://github.com/libsql/libsql-client-rs.git", rev = "a432666", features = ["futures-util", "http"] }
log = { version = "0.4.20", features = ["max_level_debug", "serde"] }
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0.108"
serial_test = "2.0.0"
simplelog = "0.12.1"
tokio = { version = "1.35.0", features = ["full"] }
sqlx = { version = "0.7.3",  features = ["runtime-tokio", "chrono", "postgres", "mysql", "time"] }

[dev-dependencies]
mockall = "0.12.0"
tempfile = "3.8.1"
tempdir = "0.3.7"

[net]
git-fetch-with-cli = true

