name: Nix

on:
  pull_request:
  push:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup
      run: |
        sudo apt-get install -y mariadb-client postgresql-client
    - name: Databases
      run: docker compose up -d
    - name: Run tests
      run: cargo test --verbose
  nix:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - name: Databases
      run: docker compose up -d
    - name: Nix flake check
      run: nix flake check
    - name: Test nix build
      env: 
        DATABASE_URL: psql://postgres:mysecretpassword@localhost:6437/app?sslmode=disable
      run: nix run . -- --help | grep -q "Usage: geni <COMMAND>" || exit 2
